{{ $env := or (env "ENVIRONMENT" | toLower) "valhalla" }}

{{ $pg_login := key (printf "infrastructure/k8s-azure/%s/output/db/postgres/pg-login" $env) }}
{{ $pg_password := key (printf "infrastructure/k8s-azure/%s/output/db/postgres/pg-password" $env) }}
{{ $pg_name := key (printf "infrastructure/k8s-azure/%s/output/db/postgres/name" $env) }}
{{ $pg_fqdn := key (printf "infrastructure/k8s-azure/%s/output/db/postgres/fqdn" $env) }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: tenpo-utility-payments
  labels:
    istio-injection: enabled
---
apiVersion: v1
kind: Secret
metadata:
  name: tenpo-utility-payments-core-secrets
  namespace: tenpo-utility-payments
type: Opaque
data:
  pg_login: {{ base64Encode $pg_login }}
  pg_password: {{ base64Encode $pg_password }}
  pg_name: {{ base64Encode $pg_name }}
  pg_fqdn: {{ base64Encode $pg_fqdn }}