{{ $env := or (env "ENVIRONMENT" | toLower) "valhalla" }}

{{ $pg_host := key (printf "apps/tenpo-utility-payment-api/%s/pg-host" $env) }}
{{ $pg_user := key (printf "apps/tenpo-utility-payment-api/%s/pg-user" $env) }}
{{ $pg_pass := key (printf "apps/tenpo-utility-payment-api/%s/pg-pass" $env) }}
{{ $pg_db := key (printf "apps/tenpo-utility-payment-api/%s/pg-db" $env) }}

---
apiVersion: v1
kind: Namespace
metadata:
  name: tenpo-utility-payments
  labels:
    istio-injection: enabled
---
apiVersion: v1
kind: Secret
metadata:
  name: tenpo-utility-payments-core-secrets
  namespace: tenpo-utility-payments
type: Opaque
data:
  pg_host: {{ base64Encode $pg_host }}
  pg_user: {{ base64Encode $pg_user }}
  pg_pass: {{ base64Encode $pg_pass }}
  pg_db: {{ base64Encode $pg_db }}