{{ $pg_login := key "infrastructure/k8s-azure/staging/output/db/postgres/pg-login" }}
{{ $pg_password := key "infrastructure/k8s-azure/staging/output/db/postgres/pg-password" }}
{{ $pg_name := key "infrastructure/k8s-azure/staging/output/db/postgres/name" }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: multipay
  labels:
    istio-injection: enabled
---
apiVersion: v1
kind: Secret
metadata:
  name: multipay-utility-payments-api-secrets
  namespace: multipay
type: Opaque
data:
  pg_login: {{ base64Encode $pg_login }}
  pg_password: {{ base64Encode $pg_password }}
  pg_name: {{ base64Encode $pg_name }}